.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2c3e50;
  padding: 10px;
  height: 50px;
  position: relative;
}

.search_container {
  position: relative;
}

.search_input {
  padding: 8px 30px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
  width: 200px;
}

.search_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
}

.top_nav button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background: #555;
  border: none;
  border-radius: 10px;
  height: 50px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.top_nav button:hover {
  background: #1abc9c;
}

.login_btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.sidebar {
  height: calc(100vh - 50px);
  background: #2c3e50;
  color: white;
  position: fixed;
  top: 50px;
  left: 0;
  transition: width 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.sidebar.closed {
  width: 0;
  background-color: transparent;
}

.sidebar.open {
  width: 200px;
  background-color: #2c3e50;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  position: relative;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: display 0.3s ease;
}

.bars {
  font-size: 20px;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
}

.link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
  padding: 20px;
}

.link:hover {
  background: #34495e;
}

.active {
  background: #1abc9c;
}

.icon {
  font-size: 20px;
}

.link_text {
  margin-left: 10px;
  font-size: 16px;
}

.main {
  padding: 20px;
  margin-left: 200px;
  transition: margin-left 0.3s ease;
  width: calc(100% - 200px);
  height: calc(100vh - 50px);
  overflow: auto;
  position: fixed;
  top: 50px;
  left: 0;
}

.right-corner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-chat{
  background-color: #1abc9c;
  height: 20px;
  width: 20px;
  padding: 20px;
  border-radius: 15px;
}
.icon-chat:hover{
  background-color: #1abc9c;
  height: 25px;
  width: 25px;
 
  border-radius: 15px;
}

@media (min-width: 1025px) {
  .search_input {
    width: 150px;
  }
  .top_nav button {
    font-size: 12px;
  }
  .search_container {
    display: none;
  }
  .top_nav .login_btn {
    width: 60px;
    margin-left: 95%;
  }
}

@media (max-width: 1200px) {
  .search_container {
    display: none;
  }

  .top_nav {
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
    background-color: #2c3e50;
  }

  .search_input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .top_nav button {
    width: 100%;
    margin-bottom: 10px;
  }

  .sidebar {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .bars {
    margin-bottom: 100px;
    margin: 0;
    width: 10%;
    border-radius: 10px;
    padding-left: 10px;
    background: #34495e;
  }

  .main {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    padding: 1px;
    background: #34495e;
  }

  .link_text {
    font-size: 16px;
    display: flex;
  }

  .link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease;
    height: 150px;
  }

  .top_nav .login_btn {
    width: 100px;
    margin-left: 90%;
    background-color: grey;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .top_nav {
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
  }

  .search_input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .top_nav button {
    width: 100%;
    margin-bottom: 10px;
  }

  .sidebar {
    width: 100%;
    height: 100%;
  }

  .bars {
    margin-bottom: 100px;
    margin: 0;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    background: #34495e;
  }

  .main {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    padding: 1px;
  }

  .link_text {
    font-size: 12px;
    display: flex;
  }

  .link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease;
    height: 50px;
  }

  .top_nav .login_btn {
    width: 100px;
    margin-left: 90%;
  }
}
