.addEvent-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .addEvent-container form {
    display: flex;
    flex-direction: column;
  }
  
  .addEvent-container div {
    margin-bottom: 15px;
  }
  
  .addEvent-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .addEvent-container input,
  .addEvent-container textarea,
  .addEvent-container button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .addEvent-container textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .addEvent-container input[type="file"] {
    padding: 5px;
  }
  
  .addEvent-container button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .addEvent-container button:hover {
    background-color: #0056b3;
  }
  
 
  @media (max-width: 768px) {
    .addEvent-container {
      padding: 15px;
    }
  
    .addEvent-container input,
    .addEvent-container textarea,
    .addEvent-container button {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    .addEvent-container {
      padding: 10px;
    }
  
    .addEvent-container input,
    .addEvent-container textarea,
    .addEvent-container button {
      font-size: 12px;
      padding: 6px;
    }
  }
  