.display-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;  
  padding: 20px;
  background-color: rgb(221, 225, 226);
}

.display-event {
  color: rgb(5, 102, 73);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 5px;
  /* w
  aspect-ratio: 1 / 1; Maintain aspect ratio */
  height: 350px;  
  box-sizing: border-box;  
}

 
.display-event img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  background-color: #e6eee7;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

.display-event h3,
.display-event h5,
.display-event h4 {
  margin: 0 10px;
}

.display-event h5 {
  font-size: small;
}

.display-event .title {
  margin-left: 10px;
  margin-bottom: 10px;
}

.display-event h4 {
  font-weight: bold;
  color: #333;
  padding-left: 10px;
  margin-bottom: 10px;
}

.display-event .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: auto;
  
}

.display-event .button-container .btn {
  cursor: pointer;
  color: #fff;
  border: 1px solid white;
  height: 23px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin: 0 2px;
  flex: 1;
}

.display-event .edit {
  
  border: 1px solid rgb(175, 175, 175);
 margin-left: 130px;
  background-color: #ecd353;
}

.display-event .edit:hover {
  background-color: #dab30a;
}

.display-event .delete {
  border: 1px solid rgb(175, 175, 175);
  background-color: #f35171;
}

.display-event .delete:hover {
  background-color: #f1b0b7;
}

.display-event .booknow {
  border: 1px solid rgb(175, 175, 175);
  color: white;
  border-radius: 5px;
  background-color: #28a745;
}

.display-event .booknow:hover {
  background-color: #024711;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .display-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: white;
    padding: 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .display-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: white;
    padding: 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .display-container {
    grid-template-columns: 1fr;
    background-color: white;
    padding: 10px;
  }

  .display-event {
    margin: 8px;
    width: calc(100% - 16px);
  }

  .display-event .button-container {
    flex-direction: row;
    height: auto;
  }

  .display-event .button-container .btn {
    margin: 5px 0;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .display-container {
    grid-template-columns: 1fr;
    background-color: white;
    width: 100%;
    padding: 5px;
  }

  .display-event {
    margin: 8px;
    width: calc(100% - 16px);
  }

  .display-event .button-container {
    display: flex;
  }

  .display-event .button-container .btn {
    margin: 5px 0;
    width: 100%;
  }
}
