/* DisplayEvent.css */

.display-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: rgb(221, 225, 226);
}

.display-event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 90%;  
 
}

.display-event img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.display-event h3,
.display-event h5,
.display-event h4 {
  margin-bottom: 10px;
}

.display-event h4 {
  font-weight: bold;
  color: #333;
  margin-top: auto;  
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.display-event .edit,
.display-event .delete,
.display-event .booknow {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  padding: 8px 16px;
}


.display-event .edit {
  background-color: #ffc107;
}

.display-event .edit:hover {
  background-color: #866707;
}

.display-event .delete {
  background-color: #dc3545;
  margin-right: 100px;
}

.display-event .delete:hover {
  background-color: #940513;
}

.display-event .booknow {
  background-color: #28a745;
}

.display-event .booknow:hover {
  background-color: #024711;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .display-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 992px) {
  .display-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .display-container {
    grid-template-columns: 1fr;
  }
}
