.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    font-family: 'Arial', sans-serif;
}

.login-title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
    animation: fadeInDown 1s ease-in-out;
}

.login-container form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    max-width: 400px;  
    width: 100%;  
}

.login-container form div {
    margin-bottom: 1rem;
}

.login-container label {
    display: block;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.login-form-input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
}

.login-form-input:focus {
    transform: scale(1.05);
    outline: none;
}

.login-submit {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #ff9a9e;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-submit:hover {
    background-color: #fad0c4;
    color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

 

 
@media (min-width: 768px) {
    .login-container {
        padding: 2rem;
    }
    
    form {
        margin-bottom: 200px;  
        /* width: 15%; */
        /* max-width: 100px; */
    }
}

 
@media (max-width: 767px) {
    .login-title {
        font-size: 2rem;  
    }
   .login-container form {
    margin-bottom: 300px;  
    width: 85%;
    padding: 1.5rem;
    }
}
