 
.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background: rgba(240, 236, 236, 0.5);  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
 
    
}

.register-container {
    /* background: #ffffff;  */
    padding: 1rem;  
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
    width: 100%;
    max-width: 350px; /* Max width of the form */
    color: #333; /* Dark color for text */
    animation: fadeIn 0.5s ease-in-out;
     background-color: linear-gradient(135deg, #6e8efb, #a777e3);
}

.register-title {
    font-size: 1.5rem; /* Adjusted title size for compact form */
    color: #333; /* Dark color for title */
    margin-bottom: 1rem;
    text-align: center; /* Centered title */
}

.register-container form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; 
    border-radius: 15px; 
    
}

.register-container label {
    font-size: 1.0rem;
    color: #7e7676;  
    font-weight: bold;
}

.register-form-input {
    width: 100%;
    padding: 0.5rem; /* Compact padding */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    font-size: 0.9rem;
    box-sizing: border-box; /* Include padding in width */
}

.register-form-input:focus {
    border-color: #4d4f52; /* Blue border on focus */
    outline: none;
}

.register-submit {
    width: 100%;
    padding: 0.5rem; 
    border: none;
    border-radius: 5px;
    background-color: #2ec508;  
    color: #fff;  
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.register-submit:hover {
    background-color: #3ee44c;  
}

.login-btn {
    text-align: center; /* Centered login link */
    margin-top: 0.75rem;
}

.login-btn p {
    color: #333;
}

.login-btn a {
    color: #0056b3; /* Link color */
    text-decoration: none;
}

.login-btn a:hover {
    text-decoration: underline;
}

/* Keyframe animations for fading effects */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .register-container {
        width: 90%; /* Adjusted width for smaller screens */
        padding: 1rem;
    }

    .register-title {
        font-size: 1.4rem;
    }
}

@media (max-width: 480px) {
    .register-container {
        width: 95%; /* Adjusted width for mobile screens */
        padding: 1rem;
    }

    .register-title {
        font-size: 1.2rem;
    }
}
